@tailwind base;
@tailwind components;
@tailwind utilities;

.aprobado::after {
  content: 'â­';
  position: absolute;
  top: -13px;
  right: -10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shake {
  animation: shake 300ms;
}

@keyframes shake {
  25% {
    transform: translate(4px);
  }
  50% {
    transform: translate(-4px);
  }
  75% {
    transform: translate(4px);
  }
}

.breadcrumb li::after {
  position: absolute;
  right: -25px;
  content: '>';
  color: slategray;
  width: 10px;
  height: 10px;
}

.breadcrumb li:last-of-type:after {
  content: '';
}

label:has(input[type='checkbox']:checked) {
  background-color: #94a3b8;
  color: white;
}
